.container {
  width: 70%;
  height: 100px;
  background: url("images/bg-shorten-desktop.svg") hsl(255, 11%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  transform: translateY(-1rem);
}

.container input {
  color: rgb(88, 88, 88);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 60%;
  padding: 1rem;
  font-size: 15px;
}

.container button {
  font-size: large;
  color: rgb(241, 241, 241);
  font-weight: 600;
  cursor: pointer;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 20%;
}

.container button:hover {
  background-color: hsl(180, 70%, 68%);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  .container button,
  .container input {
    width: 85%;
  }
}
