main {
  transform: translateY(12rem);
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 75%);
  flex-direction: column;
  height: fit-content;
}

.line {
  height: 8px;
  width: 45%;
  background-color: hsl(180, 66%, 49%);
  transform: translateY(11.5rem);
}

.section1 {
  margin-top: 5rem;
  text-align: center;
}

.section1 h1 {
  font-size: 30px;
  color: hsl(255, 11%, 22%);
  font-weight: 600;
}

.section1 p {
  color: hsl(258, 8%, 51%);
  font-weight: 600;
}

.section2 {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 6rem;
  gap: 1rem;
}

.section2 div {
  border-radius: 5px;
  background-color: white;
  height: 180px;
  width: 250px;
}

.section2 .div1 {
  transform: translateY(1.5rem);
}
.section2 .div2 {
  transform: translateY(3rem);
}
.section2 .div3 {
  transform: translateY(4.5rem);
}

.section3 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background: url("images/bg-boost-desktop.svg") hsl(255, 11%, 22%);
}

.section3 h1 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 1rem;
}

.section3 button {
  width: 135px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: medium;
  font-weight: 600;
  border-radius: 20px;
  background-color: hsl(180, 66%, 49%);
}
.section3 button:hover {
  background-color: hsl(180, 59%, 61%);
}

@media only screen and (max-width: 803px) {
  .section2 {
    flex-direction: column;
  }
  .line {
    margin-top: -30rem;
    align-self: center;
    height: 30rem;
    width: 8px;
    transform: translateY(40rem);
  }
}
