header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  min-width: 100%;
  transform: translateY(10rem);
  z-index: 10;
}

header button {
  width: 135px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: medium;
  font-weight: 600;
  border-radius: 20px;
  background-color: hsl(180, 66%, 49%);
}

header div {
  transform: translateX(-1.5rem);
}

header div h1 {
  font-weight: 600;
  font-size: 60px;
  color: hsl(255, 11%, 22%);
}

.subText {
  margin-bottom: 1rem;
  font-weight: 600;
  color: hsl(255, 7%, 45%);
}

header img {
  width: 600px;
  height: auto;
  margin-bottom: 1rem;
  transform: translateX(10rem);
}

@media only screen and (max-width: 1345px) {
  header {
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  header div h1 {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  header div {
    transform: translateX(0);
  }

  header img {
    margin-right: 1rem;
    width: 400px;
    transform: translateX(1rem);
  }
}

@media only screen and (max-width: 435px) {
  header img {
    width: 95%;
  }
}
