footer {
  margin-top: 12rem;
  width: 100%;
  height: auto;
  background-color: hsl(264, 13%, 8%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  color: aliceblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer h1 {
  cursor: pointer;
}

.about {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
}

.about p:hover {
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}

.socialIcons {
  display: flex;
  gap: 0.5rem;
}

.socialIcons img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 590px) {
  footer,
  .about {
    flex-direction: column;
  }

  footer {
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .about {
    margin-top: 1rem;
  }
  .socialIcons {
    gap: 1.5rem;
  }
}
